/*网页头样式*/
@font-face {
    font-family: myFont;
    src:url('../书法.ttf');
}
#header1{
	background-color: dodgerblue;
	font-family: MyFont;
	font-size: 2em;
}
/*中间轮播样式*/
.carousel-control.left{
	background-image:         linear-gradient(to right, rgba(65, 105, 255, .5) 0%, rgba(0, 0, 0, .0001) 100%);
}
.carousel-control.right{
	background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(65, 105, 255, .5) 100%);
}
#a1{
	color: red;
	font-family: MyFont;
	font-size: 30px;
}
#production1{
	font-family: "楷体";
	font-size: 25px;
}
#tr1{
	background-color:darkgrey;
	color:red;
	font-family: "宋体";
	font-size: 20px;
}
#messages{
	font-size: 40px;
	vertical-align: middle;
	color: blue;
	margin-top: 13%;
	margin-bottom: 13%;
}

/*footer样式*/
.footer p{
	color: #fff;
	font-size: lem;
	line-height: 1.8em;
	vertical-align: middle;
	margin: 0.4em 0;
	margin-bottom: 0%;
}
.footer p a{
	color: #fff;
	text-decoration: none;
}
.footer{
	padding: 1em 0;
	background-color: #D96B66;
}
.footer-right ul{
	padding: 0;
}
.footer-right li{
	display: inline-block;
	margin: 0 1em;
}
.footer-left{
	float: left;
}
.footer-right{
	float: right;
}
.glyphicon{
	font-size: 1.2em;
	color: #f2f0f1;
}