body{
	background: url(../img/1.jpg) no-repeat center center fixed;
	background-size: cover;
	padding-top: 20px;
}
form{
	width: 800px;
	height: 800px;
	margin: 0 auto;
	padding: 30px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	background: rgba(0,0,0,0.5);
	box-shadow: 0 0 13px 3px rgba(0,0,0,0.5);
	overflow: hidden;
}
input{
	width: 300px;
	height: 48px;
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 4px;
	display: block;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 18px;
	color: #fff;
	padding-left: 40px;
	padding-right: 20px;
	margin-bottom: 20px;
	background: rgba(255,255,255,0.4) no-repeat 30px 16px;
	margin-left:200px;
}
.border-radius{
	width: 400px;
	height: 400px;
	margin: 40px auto;
	background: url(../img/6.jpg) no-repeat center center;
	border: 5px solid rgba(255,255,255,0.4);
	border-radius: 200px;
}
input[type=submit]{
	cursor: pointer;
}
::-webkit-input-placeholder{
	color: #fff;
}
input:focus{
	background-color: rgba(0,0,0,0.2);
	box-shadow: 0 0 5px 1px rgba(255,255,255,0.5);
	overflow: hidden;
}
.btn{
	width: 138px;
	height: 44px;
	border-radius: 4px;
	margin: 0 auto;
	background: #00B0DC;
	padding: 10.5px 21px;
	border-radius: 6px;
	color: #elelel;
}
.btn:hover{
	border: 1px solid #253737;
	text-shadow: 0 1px 0 #333333;
	background: #00B0DC;
	color: #fff;
}
.btn:active{
	margin-top: 1px;
	text-shadow: 0 -1px 0 #333333;
	border: 1px solid #253737;
	background: #00B0DC;
	color: #fff;
}




